/* style.css */
body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#chargingStation {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#statusMessage {
    margin-top: 20px;
    font-weight: bold;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px){
    .container {
        width: 90%;
    }
}
h2 {
    text-align: center;
}
.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

input[type="password"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
